
<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- Radio Tab -->
  
    <!--  <ion-tab title="Copyright 2018" href="#/app/radio"> -->
<ion-tab title="Radio" icon="ion-ios-musical-notes" href="#/app/radio"> 
    <ion-nav-view name="tab-radio"></ion-nav-view>
  </ion-tab>

  <!-- About us Tab -->
  <ion-tab title="About Us" icon="ion-ios-paper" href="#/app/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- Programming Tab 
  <ion-tab title="Programming" icon="ion-ios-time" href="#/app/programming">
    <ion-nav-view name="tab-programming"></ion-nav-view>
  </ion-tab>
-->
  <!-- Contact Tab
  <ion-tab title="Contact" icon="ion-ios-email"  href="#/app/contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>
-->
</ion-tabs>
