
.auth-bg {
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.auth-logo{
  width: 90%;
  height: auto;
  display: block;
  margin: 40px auto 200px;
}